<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="index.css">
		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
		</script>
		<!-- Vue JS -->
		<script src="https://unpkg.com/vue"></script>
		<script src="index.js"></script>
	</head>

	<body>
		<div id='app'>
			<h1>Card Counter</h1>
			<li v-for="p in players">
				Player: {{p}}
				<div>
					<div v-for="k, s in cards">
						<button v-for="c in k" @click="toggle(s, c, $event)" class="off">
							{{s}} {{c}}
						</button>
					</div>
				</div>
			</li>
		</div>
	</body>
</html>
